ul{
    list-style: none;
    margin: 16px 16px;
}

ul > li{
    padding: 16px 16px;
    height: 200px;
    border: 1px solid white;
}

.description{
    color: white;
    font-size: small;
}

.price{
    font-weight: bold;
}

.featured{
    background:lightslategray;
}